.welcome_title {
	width: 100%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-size: 1rem;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 1rem;
	text-align: center;
	background-color: beige;
	color: #242424;
}
.input {
	background-color: transparent;
	border: 2px solid beige;
	border-radius: 5px;
	color: beige;
	font-size: 0.75rem;
	padding: 0.25rem;
	font-style: italic;
	width: 90%;
	outline: none;
}
.chatrooms {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
	gap: 3rem;
}
.create_chatroom {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 0.5rem;
	width: 90%;
}
.chatrooms_list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}
.chatroom_element {
	padding: 0.5rem;
	border: 2px solid beige;
	border-radius: 5px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}
.chatroom_element:hover {
	background-color: #242424;
	color: white;
	cursor: pointer;
}
.last_active {
	font-weight: 400;
	font-size: 0.75rem;
	font-style: italic;
}
.button_create {
	background-color: beige;
	color: #242424;
	border: none;
	border-radius: 5px;
	padding: 0.25rem;
	font-weight: bold;
	cursor: pointer;
}
.no_match {
	font-size: 1rem;
	font-style: italic;
	font-weight: bold;
	color: beige;
}
