.server_status {
	display: flex;
	gap: 0.5rem;
	min-width: 12.5rem;
	height: 100%;
	padding: 0.5rem;
	background-color: beige;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #242424;
	font-weight: bold;
	font-style: italic;
}

.server_users {
	font-weight: bold;
	letter-spacing: 5px;
	text-decoration: underline;
	font-size: 1rem;
}
