.list_container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
	border: 2px solid beige;
	border-radius: 10px;
	height: 100%;
	overflow: auto;
	max-height: 15rem;
}
.list_title {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2rem;
	background-color: beige;
	color: #242424;
	font-style: italic;
	font-weight: 500;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.list {
	padding: 0.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.87);
}
.user_link {
	font-weight: bold;
	text-decoration: underline;
	color: inherit;
}
.lobby {
	color: rgb(245, 168, 68);
	font-style: italic;
	width: 50%;
	text-align: center;
	border-radius: 20px;
	padding: 0.25rem 0.5rem;
	background-color: beige;
}
.list_element {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid beige;
}
.list_username {
	text-align: center;
	font-size: 1rem;
	letter-spacing: 5px;
}
.chatroom_link {
	cursor: pointer;
	width: 50%;
	text-align: center;
	font-style: italic;
	border-radius: 20px;
	padding: 0.25rem 0.5rem;
	color: beige;
}
